@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "SF-UI-Text-Normal";
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF-UI-Text-Medium";
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.test2 {
  font-family: "SF-UI-Text-Medium", "Arial";
}

.all__tasks {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #1d262c;
  font-weight: 700;
}

.crimson {
  color: #F3477A;
}

.button__new-task {
  background-color: #884CB2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px 33px;
  border-radius: 10px;
  margin-left: 20px;
}

.new__task {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #FFFFFF;
  padding-left: 8px;
}

.name__task {
  font-family: "Poppins", sans-serif;
  color: #1d262c;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.task__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task__name-figura {
  position: absolute;
  width: 9px;
  height: 10px;
  background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.2) 0.24%, rgba(136, 76, 178, 0.2) 95.04%);
  border-radius: 50%;
}
.task__name-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 11px;
}
.task__process {
  font-family: "SF-UI-Text-Normal";
  color: #F2994A;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  padding: 1px 18px;
  border-radius: 8.5px;
  background-color: rgba(242, 153, 74, 0.2);
}
.task__statys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.task__starys-ring {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  vertical-align: middle;
}
.task__statys-text {
  color: #5C626D;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-left: 4px;
}

.ring-1 {
  border: 2px solid #219653;
}

.ring-2 {
  position: relative;
  top: 2.9px;
  left: 2px;
  width: 5.4px;
  height: 5.72px;
  border-radius: 50%;
  background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.7) 0.24%, rgba(136, 76, 178, 0.7) 95.04%);
}

.button__edit {
  width: 22px;
  height: 22px;
  background: #F2F2F2;
  border-radius: 50%;
}

.button__edit::after {
  content: "";
  display: block;
  transform: translateX(3.54px);
  background-color: #F5F5F5;
  height: 0.8px;
  width: 0.8px;
}