@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "SF-UI-Text-Normal";
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF-UI-Text-Medium";
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("../fonts/SFUIText-Medium.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  background: url(../img/main_bg.svg) center no-repeat;
}

.container {
  padding: 0px 206px 77px 279px;
}

.wrapper {
  background: #FFFFFF;
  margin: 140px 63px 160px 63px;
  border-radius: 30px;
}

.search {
  display: flex;
  align-items: center;
  padding: 78px 0px 56px 258.5px;
}
.search input {
  padding-left: 15px;
}

.all__tasks {
  display: flex;
  flex-direction: row;
  padding-bottom: 49px;
}

h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #1d262c;
  font-weight: 700;
  margin: 0px 0px 0px 267px;
}

.crimson {
  color: #F3477A;
}

.button__new-task {
  background-color: #884CB2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px 33px;
  border-radius: 10px;
  margin-left: 20px;
}

.hold {
  padding-bottom: 49px;
}

.hold-margin {
  margin-bottom: 32px;
}

.completed-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  align-items: center;
}

.status-completed {
  font-family: "SF-UI-Text-Normal";
  color: #EB5757;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  padding: 1px 10px;
  border-radius: 8.5px;
  background: rgba(235, 87, 87, 0.2);
  text-align: center;
}

.new__task {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  color: #FFFFFF;
}

.name__task {
  font-family: "Poppins", sans-serif;
  color: #1d262c;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.task__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.task__line:last-child {
  margin-bottom: 0px;
}
.task__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110%;
}
.task__name-figura {
  position: absolute;
  width: 9px;
  height: 10px;
  background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.2) 0.24%, rgba(136, 76, 178, 0.2) 95.04%);
  border-radius: 50%;
}
.task__name-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 11px;
}
.task__process {
  font-family: "SF-UI-Text-Normal";
  color: #F2994A;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  padding: 1px 10px;
  border-radius: 8.5px;
  background-color: rgba(242, 153, 74, 0.2);
  width: 18%;
  text-align: center;
}
.task__process-inactive {
  font-family: "SF-UI-Text-Normal";
  color: #EB5757;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  padding: 1px 10px;
  border-radius: 8.5px;
  background: rgba(235, 87, 87, 0.2);
  text-align: center;
  margin-left: 10px;
}
.task__statys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.task__starys-ring {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  vertical-align: middle;
}
.task__statys-text {
  color: #5C626D;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-left: 4px;
}

.ring-1 {
  border: 2px solid #219653;
}

.ring-2 {
  position: relative;
  top: 2.9px;
  left: 2px;
  width: 5.4px;
  height: 5.72px;
  border-radius: 50%;
  background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.7) 0.24%, rgba(136, 76, 178, 0.7) 95.04%);
}

.line-opacity {
  opacity: 0.2;
}

.process-blue {
  background-color: rgba(86, 204, 242, 0.2);
  color: #56CCF2;
}

.process-green {
  color: #27AE60;
  background: rgba(39, 174, 96, 0.2);
}

.statys-normal {
  border: 2px solid #F2C94C;
}

.statys-critical {
  border: 2px solid #EB5757;
}

.button__edit {
  width: 5%;
  height: 22px;
  background: #F2F2F2;
  border-radius: 50%;
}

.edit-none {
  visibility: hidden;
}

.button__edit-tochka {
  height: 3px;
  width: 3px;
  margin: 0 auto;
  background: #DCD9D9;
  border-radius: 50%;
}

.button__edit-tochka::after {
  content: "";
  display: block;
  transform: translate(5px, -3px);
  background: #DCD9D9;
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.button__edit-tochka::before {
  content: "";
  display: block;
  transform: translateX(-5px);
  background: #DCD9D9;
  height: 3px;
  width: 3px;
  border-radius: 50%;
}