@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'SF-UI-Text-Normal';
	src: url('../fonts/SFUIText-Regular.woff2') format('woff2'),
		 url('../fonts/SFUIText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF-UI-Text-Medium';
	src: url('../fonts/SFUIText-Medium.woff2') format('woff2'),
		 url('../fonts/SFUIText-Medium.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;
$color-just-black: #000000;
$color-other-black:#1d262c;
$color-orange: #F2994A;
$color-blue: #56CCF2;
$color-dark-green: #5C626D;
$color-statys-green: #219653;
$color-statys-orange: #F2C94C;
$color-status-red: #EB5757;


.test2{
	font-family: 'SF-UI-Text-Medium','Arial';
}

.all__tasks {
	display: flex;
	flex-direction: row;
}

h1{
	font-size: 36px;
   font-family: $poppins;
	color: $color-other-black;
	font-weight: 700;
}
.crimson {
	color: #F3477A;
}
.button__new-task{
	background-color: #884CB2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 11px 33px;
	border-radius: 10px;
	margin-left: 20px;
}
.new__task{
	font-family: $poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 9px;
	color: #FFFFFF;
	padding-left: 8px;
}
.hold {
}
.task {

		&__line {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__name {
		}

		&__name-figura {
		}

		&__name-text {
			font-family: $montserrat;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: $color-just-black;
		}

		&__process {
			font-family: 'SF-UI-Text-Normal';
			color: $color-orange;
			font-weight: 400;
			font-size: 11px;
			line-height: 18px;
			padding: 1px 18px;
			border-radius: 8.5px;
			background-color: rgba(242, 153, 74, 0.2);
		}

		&__statys {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		&__starys-ring {
			display: inline-block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			vertical-align: middle;
		}

		&__statys-text {
			color: $color-dark-green;
			font-family: $montserrat;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			margin-left: 4px;
		}

		&__edit {
		}
}
.ring-1 {
	border: 1px solid $color-statys-green;
}
.button {

		&__edit {
		}
}


