@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'SF-UI-Text-Normal';
	src: url('../fonts/SFUIText-Regular.woff2') format('woff2'),
		 url('../fonts/SFUIText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF-UI-Text-Medium';
	src: url('../fonts/SFUIText-Medium.woff2') format('woff2'),
		 url('../fonts/SFUIText-Medium.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
// ПАРАМЕТРЫ======================================================
$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;
$color-just-black: #000000;
$color-other-black:#1d262c;
$color-orange: #F2994A;
$color-process-blue: #56CCF2;
$color-process-green:#27AE60;
$color-dark-green: #5C626D;
$color-statys-green: #219653;
$color-statys-orange: #F2C94C;
$color-status-red: #EB5757;

// ОБЩИЕ КЛАССЫ ===================================================
body{
	background: url(../img/main_bg.svg) center no-repeat;
	background-size: cover;
}
.container{
	padding: 0px 206px 77px 279px;
}
.wrapper{
	background: #FFFFFF;
	margin: 140px 63px 160px 63px;
	border-radius: 30px;
}
// ПОИСК==========================================================
.search {
	display: flex;
	align-items: center;
	padding: 78px 0px 56px 258.5px;

	& input{
		padding-left: 15px;
		font-size: 100.1%;
		width: 250px;
	}
}
//НАЗВАНИЕ + КНОПКА===============================================
.title__tasks {
	display: flex;
	flex-direction: row;
	padding: 0px 0px 49px 267px;
}

h1{
	font-size: 36px;
   font-family: $poppins;
	color: $color-other-black;
	font-weight: 700;
}
.crimson {
	color: #F3477A;
}
.button__new-task{
	background-color: #884CB2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 11px 33px;
	border-radius: 10px;
	margin-left: 20px;
}

.new__task{
	font-family: $poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 9px;
	color: #FFFFFF;
}
// ДЛЯ JS===========================================================
.js__button{
	position: absolute;
   top: 36%;
   left: 22%;
   width: 62%;
   height: 7%;
   background: white;
   opacity: 0; 
   pointer-events: none;
   transition: 0.5s all;
	display: flex;
   justify-content: center;
   align-items: center;
   padding: 21px;
	border: 2px solid gray;
   border-radius: 10px;
}

.js__button.active{
	opacity: 1; 
   pointer-events: all; // Возвращаем события
   transition: 0.5s all;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn-cancel{
	border-radius: 10px;
	background: rgb(188, 187, 187);
	width: 87px;
}

// БЛОК С АКТИВНЫМИ И НЕАКТИВНЫМИ ЗАДАЧАМИ========================
.hold{
	padding-bottom: 49px;
}
.hold-margin{
	margin-bottom: 32px;
}
.completed-box{
	display: flex;
	flex-direction:row ;
	margin-bottom: 32px;
	align-items: center;
}

// ПАРАМЕТРЫ ДЛЯ САМИХ ЗАДАЧ========================================
.name__task{
	font-family: $poppins;
	color: $color-other-black;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}
.task {

	&__line {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 44px;
			
			&:last-child{
				margin-bottom: 0px;
			}
	}

	&__name {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 110%;
	}

	&__name-figura {
		position: absolute;
		width: 9px;
		height: 10px;
		background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.2) 0.24%, rgba(136, 76, 178, 0.2) 95.04%);
		border-radius: 50%;
		}

	&__name-text {
			font-family: $montserrat;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: $color-just-black;
			margin-left: 11px;
		}

		&__process {
			font-family: 'SF-UI-Text-Normal';
			color: $color-orange;
			font-weight: 400;
			font-size: 11px;
			line-height: 18px;
			padding: 1px 10px;
			border-radius: 8.5px;
			background-color: rgba(242, 153, 74, 0.2);
			width: 18%;
			text-align: center;
		}

		&__process-inactive{
			font-family: 'SF-UI-Text-Normal';
			color: #EB5757;
			font-weight: 400;
			font-size: 10px;
			line-height: 18px;
			padding: 1px 10px;
			border-radius: 8.5px;
			background: rgba(235, 87, 87, 0.2);
			text-align: center;
			margin-left: 10px;
		}

		&__statys {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 70%;
		}
		

		&__starys-ring {
			display: inline-block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			vertical-align: middle;
		}

		&__statys-text {
			color: $color-dark-green;
			font-family: $montserrat;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			margin-left: 4px;
		}
}

// ДОП ПАРАМЕТРЫ================================================
.ring-1 {
	border: 2px solid $color-statys-green;
}
.ring-2 {
	position: relative;
	top: 2.9px;
	left: 2px;
	width: 5.4px;
	height: 5.72px;
	border-radius: 50%;
	background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.7) 0.24%, rgba(136, 76, 178, 0.7) 95.04%);
}
.line-opacity{
	opacity: 0.2;
}
.process-blue{
	background-color: rgba(86, 204, 242, 0.2);
	color: $color-process-blue;
}
.process-green{
	color: $color-process-green;
	background: rgba(39, 174, 96, 0.2);
}
.statys-normal{
	border: 2px solid $color-statys-orange;
}
.statys-critical{
	border: 2px solid $color-status-red;
}
// КНОПКА РЕГУЛИРОВКИ ДЛЯ ДВУХ БЛОКОВ
.button__edit{
	width: 5%;
	height: 22px;
	background: #F2F2F2;
	border-radius: 50%;
}
.edit-none{
	visibility: hidden;
}
.button__edit-tochka{
	height: 3px;
	width: 3px;
	margin: 0 auto;
	background: #DCD9D9;
	border-radius: 50%;
}
.button__edit-tochka::after {
	content: "";
	display: block;
	transform: translate(5px, -3px);
   background: #DCD9D9;
   height: 3px;
   width: 3px;
	border-radius: 50%;
}
.button__edit-tochka::before {
	content: "";
	display: block;
   transform: translateX(-5px);
   background: #DCD9D9;
   height: 3px;
   width: 3px;
	border-radius: 50%;
}

@media screen and (min-width:1501px) and (max-width:1920px) {
	.wrapper{
		margin: 215px 63px 200px 63px
	}
	.task__statys{
		width: 60%;
	}
	.button__edit{
		width: 4%;
	}
}
@media screen and (max-width:1410px) {
	.container {
		padding: 0px 206px 77px 206px;
  }
  .search {
	padding: 78px 0px 56px 185.5px;
	}
  .title__tasks {
	padding: 0px 0px 49px 194px;
	}
	.button__edit{
		width: 6%;
	}
	.task__statys{
		width: 50%;
	}
}

@media screen and (max-width:1270px) {
	.container {
		padding: 0px 180px 77px 180px;
  }
  .search {
	padding: 78px 0px 56px 151.5px;
	}
  .title__tasks {
	padding: 0px 0px 49px 168px;
	}
	.task__name{
		width: 95%;
	}
}

@media screen and (max-width: 1075px) {
	.wrapper{
		margin: 80px 63px 80px 63px;
	}
	.container {
    padding: 0px 120px 77px 120px;
	}
	.search {
	padding: 45px 0px 56px 91.5px;
	}
  .title__tasks {
	padding: 0px 0px 49px 108px;
	}
	.task__statys {
    width: 22%;
	}
}

@media screen and (max-width: 900px) {
	.title__tasks{
		flex-wrap: wrap;
		flex-direction: column;
	}
	h1{
		padding-bottom: 20px;
	}
	.button__new-task{
		width: 180px;
		margin-left: 0px;
	}
	.task__line{
		flex-wrap: wrap;
	}
	.task__name {
    padding-bottom: 10px;
	}
	.button__edit {
    width: 5%;
	}
}
@media screen and (max-width: 750px) {
	.button__edit {
    width: 6%;
	}	
}
@media screen and (max-width: 707px) {
	.wrapper {
    margin: 50px 40px 50px 40px;
	}
	.container {
    padding: 0px 60px 50px 60px;
	}
	.title__tasks {
    padding: 0px 60px 49px 60px;
	 line-height: 42px;
	}
	.task__process{
		width: 80px;
	}
	.search {
	padding: 45px 0px 56px 60px;
	}
	.button__edit {
    width: 21px;
	}	
}

@media screen and (max-width: 540px) {
	.search {
		padding: 38px 0px 28px 40px;
  }
	.container {
		padding: 0px 40px 77px 40px;
  }
  .title__tasks {
	padding: 0px 40px 25px 40px;
	}
	h1{
		font-size: 30px;
	}
	.button__new-task{
		width: 137px;
	}
	.task__name {
		width: 100%;
  }
  .hold {
	padding-bottom: 33px;
	}

} 

@media screen and (max-width: 425px) {
	.wrapper {
		margin: 30px 20px 30px 20px;
  }
  .search {
	padding: 38px 0px 28px 30px;
	}
	.title__tasks {
		padding: 0px 30px 25px 30px;
  }
  h1{
	font-size: 24px;
	}
	.container {
		padding: 0px 30px 40px 30px;
  }
}
