@font-face {
    font-family: 'SF UI Text-Bold';
    src: url('SFUIText-Bold.woff2') format('woff2'),
        url('SFUIText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text-Heavy';
    src: url('SFUIText-Heavy.woff2') format('woff2'),
        url('SFUIText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text-Normal';
    src: url('SFUIText-Regular.woff2') format('woff2'),
        url('SFUIText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text-Medium';
    src: url('SFUIText-Medium.woff2') format('woff2'),
        url('SFUIText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text-Light';
    src: url('SFUIText-Light.woff2') format('woff2'),
        url('SFUIText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text-Semibold';
    src: url('SFUIText-Semibold.woff2') format('woff2'),
        url('SFUIText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

